// Review
mixin review(text, salaryOld, heightOld, salaryNew, heightNew, name, experience)
    .b-review
        .row
            .column.-xs-12.-md-9.review-text
                .text!= text
            .column.-xs-12.-md-3._d-flex.review-data
                .b-data
                    .b-salary
                       .summ.-old
                           span(data-salary=salaryOld).num 0
                           div(data-height=heightOld).chart
                           span.word Было
                       .summ.-new
                           span(data-salary=salaryNew).num 0
                           div(data-height=heightNew).chart
                           span.word Стало
                    .person
                        span.wage Зарплата
                        span.name= name
                        span.working работает #{experience}